<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>SB Ideogram</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="dependencies/bootstrap.min.css">
        <script src="dependencies/jquery.min.js"></script>
        <script src="dependencies/bootstrap.min.js"></script>
        <script src="dependencies/lodash.min.js"></script>
        <script src="dependencies/angular.min.js"></script>
        <script src="dependencies/d3.js"></script>
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="controllers/mainCtrl.js"></script>
        <script src="directives/ideogram.js"></script>
    </head>
    <body ng-controller="MainCtrl as main">
        <div class="container-fluid">
            <h4> SolveBio Ideogram </h4>
            Select Human Chromosome
            <select ng-model="main.selectedChromosome" ng-change="main.updateChromosome(main.selectedChromosome)">
                <option ng-repeat="chromosome in main.chromosomes" value="{{chromosome}}">{{chromosome}}</option>
            </select>

            <div ng-hide="main.loading" class="row">
                <div class="col-xs-offset-1 col-xs-10" style="padding: 20px 0px 20px 0px;">
                    <ideogram></ideogram>
                </div>
            </div>
            <div ng-show="main.loading" style="text-align:center;">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                </span>
            </div>
        </div>
    </body>
</html>
