<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>SB Ideogram</title>
        <link rel="stylesheet" href="styles.css">
        
        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>-->

        <link rel="stylesheet" href="dependencies/bootstrap.min.css">
        <script src="dependencies/jquery.min.js"></script>
        <script src="dependencies/bootstrap.min.js"></script>
        <script src="dependencies/lodash.min.js"></script>
        <script src="dependencies/angular.min.js"></script>
        <script src="dependencies/d3.js"></script>
        
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="controllers/mainCtrl.js"></script>
        <script src="directives/ideogram.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        
        <div class="container-fluid">
            <h4> SolveBio Ideogram </h4>

            Select Human Chromosome
            <select ng-model="selectedChromosome" ng-change="updateChromosome(selectedChromosome)">
                <option ng-repeat="chromosome in chromosomes" value="{{chromosome}}">{{chromosome}}</option>
            </select>

            <div ng-hide="loading" class="row">
                <div class="col-xs-offset-1 col-xs-10" style="padding: 20px 0px 20px 0px;">
                    <ideogram></ideogram>
                </div>
            </div>
            <div ng-show="loading" style="text-align:center;">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                </span>
            </div>
        </div>
    </body>
</html>
