.arm {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
}

.band{
  fill: black;
}

path{
  fill: white;
}


text{
  fill: black;
  fill-opacity: 0.0;
  font-size: 8pt;
}

.active{
  fill-opacity: 1.0;
}

rect.active{
  fill: blue;
}