.arm {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
}

.band{
  fill: black;
}

path{
  fill: white;
}


text{
  fill: black;
  fill-opacity: 0.0;
  font-size: 8pt;
}

.active{
  fill-opacity: 1.0;
}

rect.active{
  fill: blue;
}

.glyphicon-refresh-animate {
  font-size: 50pt;
  color: lightgrey;
    -animation: spin 1.7s infinite linear;
    -webkit-animation: spin2 1.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}