
<rect x='0' width='{{rel_centromere_pos}}' height="{{height}}" rx="{{radius}}" class="arm"></rect>
<rect x='{{rel_centromere_pos}}' width='{{width - rel_centromere_pos}}' height='{{height}}' rx='{{radius}}' class="arm"></rect>

<rect ng-repeat="gene in selectedChromosomes" x='{{gene.rel_start}}' width='{{gene.rel_stop - gene.rel_start}}' height="{{height}}" fill-opacity='{{gene.rel_density}}' class='band'>
  <title>{{gene.band_label}}</title>
</rect>

<path class='p_telomere arc' d="M {{radius}},0 A{{radius}},{{radius}} 0 0,0 {{radius}},{{height}} L0 {{height}} L0 0 Z"></path>
<path class='centromere arc' d="M{{rel_centromere_pos-radius}},0 A{{radius}},{{radius}} 0 0,1 {{rel_centromere_pos-radius}},{{height}} L{{rel_centromere_pos+radius}},{{height}} A{{radius}},{{radius}} 0 0,1 {{rel_centromere_pos+radius}},0 L{{rel_centromere_pos-radius}} 0 Z"></path>
<path class='q_telomere arc' d="M{{width-radius}},0 A{{radius}},{{radius}} 0 0,1 {{width-radius}},{{height}} L{{width}} {{height}} L{{width}} 0 Z"></path>